<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table>
    <tr>
        <td>
        <a href="/Scholarchain/tt/">Registered Student</a><br>
        </td></tr>
  <tr>
      <td><a href="/Scholarchain/admin_verify_organisation/">Organization/Person</a><br></td></tr>
  <tr>
      <td><a href="/Scholarchain/tt/">Registered Sponsors</a><br></td></tr>
  <tr>
      <td><a href="/Scholarchain/tt/">Geted Scholarships</a><br></td></tr>
  <tr>
      <td><a href="/Scholarchain/tt/">Public Enquiry</a><br></td></tr>
  <tr>
      <td><a href="/Scholarchain/tt/">Logout</a><br></td></tr>
</table>
</body>
</html>
